<!DOCTYPE HTML>
<html>
  <title>{% block title %}{% endblock %}</title>
  <head>
    {% block head %}
    <link href="http://fonts.googleapis.com/css?family=Unkempt" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="static/js/jquery.js"> </script>
    <script type="text/javascript" src="static/js/jquery.color.js"> </script>
    <script type="text/javascript" src="static/js/jquery-glowing.js"> </script>
    <link rel="stylesheet" type="text/css" href="static/css/grid.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
  </body>
  <div id="footer" class="container_12">
    Sudharshan 'Sup3rkiddo' S | <a href="https://github.com/sudharsh/ragesquared">Code</a>
  </div>

</html>
